.sample-pack {
    text-align: left;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: .1rem black solid;
}
.sample-pack:last-child {
    border-bottom: none;
}
.img-container {
    display: inline-block;
    width: 40%;
    padding: 0 5% 0 5%;
}
.sample-pack-img {
    width: 100%;
    display: block;
    vertical-align: middle;
}
.text {
    width: 40%;
    padding: 0 5% 0 5%;
    display: inline-block;
    vertical-align: top;
}
button {
    width: 40%;
    margin: 0 5% 0 5%;
    font-size: 1rem;
    border-radius: .2rem;
    border: .13rem black solid;
}
audio {
    width: 100%;
    margin-bottom: .6rem;
}
